description = "Default layout"

[session]
security = "all"
redirect = "/"

==
<!DOCTYPE html>
<html lang="en">
{% partial "meta" %}
{% component 'session' %}

<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="https://browsehappy.com/">Upgrade your browser
    today</a> or <a href="https://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->

{% partial "hotline-call" %}
<header>
    {% partial "top" %}
    {% partial "nav" %}
</header>
<a href="javascript:" id="return-to-top"><i class="fas fa-chevron-up"></i></a>

{% page %}

<footer>
    <div class="container">
        {% partial "socials" %}
        {% partial "bottom" %}
        {% partial "footer" %}
    </div>
</footer>
<!-- Load Facebook SDK for JavaScript -->
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v9.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=install_email
     page_id="103314268397184"
     theme_color="#ed8830"
>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<script src="{{ 'assets/vendor/modernizr-2.6.1-respond-1.1.0.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery-1.11.0.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery.gmap3.min.js'|theme }}"></script>
<script src="{{ 'assets/js/plugins.js'|theme }}"></script>
<script src="{{ 'assets/js/main.js'|theme }}"></script>
{% framework extras %}
{% scripts %}

</body>
</html>
