<div id="advisory">
    <div class="container">
        <div class="col-md-12">
            <div class="heading-section">
                <h2>Tư vấn ăn chay</h2>
                <img src="{{ 'assets/images/under-heading.png'|theme }}" alt="">
            </div>
        </div>
        <div class="product-item col-md-12">
            <div class="message-form">
                <form role="form" action="#" method="post" class="send-message">
                    <div class="row">
                        <div class="name col-md-4">
                            <input type="text" name="name" id="name" placeholder="Tên của bạn:"
                                   class="form-control" required="required">
                        </div>
                        <div class="email col-md-4">
                            <input type="text" name="email" id="email" placeholder="Email"
                                   class="form-control" required="required">
                        </div>
                        <div class="email col-md-4">
                            <input type="text" name="subject" id="subject" class="form-control"
                                   placeholder="Số điện thoại của bạn:">
                        </div>
                    </div>
                    <div class="row">
                        <div class="text col-md-12">
                                                <textarea name="text" placeholder="Nhập tin nhắn" class="form-control"
                                                          required="required"></textarea>
                        </div>
                    </div>
                    <div class="send">
                        <button type="submit" name="submit" required="required">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
