[customForm]
formCode = "book-now"
==
<div id="book-now">
    <div class="container">
        <div class="col-md-12">
            <div class="heading-section">
                <h2>Liên hệ đặt bàn</h2>
                <img src="{{ 'assets/images/under-heading.png'|theme }}" alt="">
            </div>
        </div>
        <div class="product-item col-md-12">
            <div class="d-flex justify-content-center">
                <span class="book_note">Quý khách vui lòng đặt bàn trước để chúng tôi sắp xếp cho quý khách chỗ ngồi tốt nhất!</span>
            </div>
            {% component 'customForm' %}
        </div>
    </div>
</div>
