<div class="main-footer">
    <div class="row">
        <div class="col-md-3">
            <div class="about">
                <h4 class="footer-title">Về Nhà Hàng Chay Tâm Phúc</h4>
                <p>Nhà hàng chúng tôi tự hào là một trong những nhà hàng chuyên về các món ăn chuẩn hương vị thuần Việt.
                <br><br>Thực phẩm sạch là yêu cầu tất yếu của chúng tôi để chế bến cho khách hàng. Quý khách chắc chắn sẽ hài lòng về chất lượng sản phẩm và dịch vụ của chúng tôi.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="shop-list">
                <h4 class="footer-title">Danh Mục Cửa Hàng</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Thực Đơn</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Các Món Mới</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Nấu Chay Cùng Tâm Phúc</a></li>
                    </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="recent-posts">
                <h4 class="footer-title">Bài viết mới</h4>
                    <div class="recent-post">
                        <div class="recent-post-thumb">
                            <img src="{{ 'assets/images/recent-post1.jpg'|theme }}" alt="">
                        </div>
                        <div class="recent-post-info">
                            <h6><a href="#">Cách làm Hến xúc bánh tráng</a></h6>
                            <span>24/03/2020</span>
                        </div>
                    </div>
                    <div class="recent-post">
                        <div class="recent-post-thumb">
                            <img src="{{ 'assets/images/recent-post2.jpg'|theme }}" alt="">
                        </div>
                        <div class="recent-post-info">
                            <h6><a href="#">Cách làm Hến xúc bánh tráng</a></h6>
                            <span>18/05/2020</span>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="more-info">
                <h4 class="footer-title">Thông tin liên hệ</h4>
                    <span>Cơ Sở Tại Đà Nẵng:</span>
                    <ul>
                        <li><i class="fa fa-phone"></i>0972624014</li>
                        <li><i class="fa fa-globe"></i>132A, Quang Trung, Hải Châu, Đà Nẵng</li>
                        <li><i class="fa fa-envelope"></i><a href="#">chaytamphuc.danang@gmail.com</a></li>
                    </ul>
                    <span>Cơ Sở Tại Hà Nội:</span>
                    <ul>
                        <li><i class="fa fa-phone"></i>0932238899</li>
                        <li><i class="fa fa-globe"></i>133, Phố Vệ Hồ, Tây Hồ, Hà Nội</li>
                        <li><i class="fa fa-envelope"></i><a href="#">chaytamphuc.hannoi@gmail.com</a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
