<div class="flexslider">
    <ul class="slides">
        <li>
            <div class="slider-caption">
                <div class="slider-caption-background">
                    <h1>Nhà hàng chay Tâm Phúc</h1>
                    <p>Đến với Nhà hàng chay Tâm Phúc,
                        <br><br>quý khách sẽ được thưởng thức các món chay được chế biến bởi các đầu bếp hàng đầu Việt Nam.
                        <br><br>Chúng tôi chắc chắn sẽ khiến bạn hài lòng!</p>
                    <a href="{{ 'samples/single-post'|page }}">Đặt bàn ngay</a>
                </div>
            </div>
        <img src="{{ 'assets/images/slide1.jpg'|theme }}" alt="" />
        </li>
            <li>
                <div class="slider-caption">
                    <div class="slider-caption-background">
                        <h1 >Ẩm thực Việt Nam</h1>
                        <p>Không gì tuyệt vời bằng thưởng thức ẩm thực Việt Nam cùng gia đình và người thân.
                            <br><br>Chúng tôi cung cấp các món chay chuẩn vị ẩm thực Việt Nam,
                            <br><br>mang đến cảm giác quen thuộc nhưng cực kỳ đặc sắc cho bạn thưởng thức!</p>
                        <a href="{{ 'samples/single-post'|page }}">Đặt bàn ngay</a>
                    </div>
                </div>
            <img src="{{ 'assets/images/slide2.jpg'|theme }}" alt="" />
            </li>
            <li>
                <div class="slider-caption">
                    <div class="slider-caption-background">
                        <h1>Thanh Tịnh - Tinh Tấn</h1>
                        <p>Không gian cực kỳ thoải mái cho mỗi bữa ăn gia đình, hội họp, vv.
                            <br><br>cùng với các món ăn chay chuẩn hương vị thuần Việt
                            <br><br>giúp quý khách có trải nghiệm tuyệt vời.</p>
                        <a href="{{ 'samples/single-post'|page }}">Đặt bàn ngay</a>
                    </div>
                </div>
            <img src="{{ 'assets/images/slide3.jpg'|theme }}" alt="" />
            </li>
        </ul>
    </div>