<div class="top-footer">
    <div class="row">
        <div class="col-md-8">
            <div class="subscribe-form">
                <span>Hãy liên lạc với chúng tôi</span>
                    <form role="form" method="get" class="subscribeForm">
                        <input id="subscribe" type="text" />
                        <input type="submit" id="submitButton" />
                    </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="social-bottom">
                <span>Theo dõi:</span>
                    <ul>
                        <li><a href="#" class="fab fa-facebook-f"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
