==
{% set
comments = [
{
"url": "#",
"name": "Nguyễn Thị Hợp",
"job": "Nhà Thiết Kế Thời Trang",
"content": "Đồ ăn rất ngon. Phục vụ nhiệt tình. Sẽ đến với quán nhiều lần nữa."
},
{
"url": "#",
"name": "Khánh Phương",
"job": " Giám đốc Marketing",
"content": "Quán chay rất ấm cúng, đồ ăn ngon miệng, phục vụ nhiệt tình. "
},
{
"url": "#",
"name": "Hoàng Văn Nam",
"job": "Kỹ sư CNTT",
"content": "Tình cờ ghé vào quán này, đồ ăn rất ngon, gía hợp lý. Sẽ tới quán lần 2."
},
]
%}

{% macro render_comment(comments) %}
{% for item in comments %}
<li>
    <div class="testimonails-content">
        <p>{{ item.content }}</p>
        <h6>{{ item.name }} - <a href="{{ item.url }}">{{ item.job }}</a></h6>
    </div>
</li>{% endfor %}
{% endmacro %}

{% import _self as nav %}

<div class="row justify-content-center">
    <div class="testimonails-slider">
        <ul class="slides">
            {{ nav.render_comment(comments) }}
        </ul>
    </div>
</div>

