==
<div id="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home-account" id="welcome-tp">
                    <a href="#">Chay Tâm Phúc hân hạnh được phục vụ quý khách!</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cart-info">
                    <!-- <i class="fa fa-shopping-cart"></i>
                    (<a href="#">5 items</a>) in your cart (<a href="#">$45.80</a>) -->
                    <a href="#">Quy định thanh toán</a>
                    <a href="#">Hướng dẫn đặt bàn</a>
                </div>
            </div>
        </div>
    </div>
</div>
