@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pattaya&family=Goldman&family=Yanone+Kaffeesatz&display=swap');

.logo_content {
    height: 70px;
    justify-items: center;
    padding-right: 16px;
    padding-left: 16px;
}

#menu_list {
    background: #eee !important;
    padding-bottom: 160px;
}

.main-footer {
    font-family: 'Goldman', sans-serif;
}

.main-footer .footer-title {
    font-weight: 900;
    font-size: 16px;
    font-family: 'Goldman', sans-serif;
}

.main-footer .shop-list ul a {
    font-weight: 500;
    font-size: 14px;
    font-family: 'Goldman', sans-serif;
}

.main-footer p {
    font-family: 'Goldman', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}

.main-footer .recent-posts a {
    font-family: 'Goldman', sans-serif;
    font-weight: 400;
}

.subscribe-form span {
    font-family: 'Goldman', sans-serif;
    font-size: 18px;
    margin-top: 4px;
}

.social-bottom span {
    font-family: 'Goldman', sans-serif;
    font-size: 18px;
    margin-top: 4px;
}

.subscribe-form input#subscribe {
    width: auto !important;
    min-width: 180px;
}

.navbar-custom {
    height: 60px;
}

#navbarToggler {
    justify-content: space-around;
}

.hot_line {
    font-family: 'Goldman', "Segoe UI", Sans-Serif;
    margin-top: 16px;
    justify-items: center;
}

.hot_line_text {
    font-family: 'Goldman', "Segoe UI", Sans-Serif;
    color: #ed8830;
    font-size: 15px;
}

.hot_line_phone {
    color: #ff2d25;
    font-weight: bold;
    font-size: 20px;
}

.search {
    margin-bottom: 20px;
    min-width: 150px;
}

.search > h3 {
    font-weight: normal;
}

.search > h1,
.search > h3 {
    color: #ed8830;
    margin-bottom: 15px;
    text-shadow: 0 1px #ed8830;
}

.search > div {
    display: inline-block;
    position: relative;
    margin-top: -6px !important;
    filter: drop-shadow(0 1px #ed8830);
}

.search > div:after {
    content: "";
    background: #ed8830;
    width: 4px;
    height: 15px;
    position: absolute;
    top: 46px;
    right: -2px;
    z-index: 100;
    transform: rotate(135deg);
}

.search > div > input {
    color: #ed8830;
    font-size: 14px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px #ed8830;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.search > div > input::placeholder {
    color: #ed8830;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
    opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
    height: 30px;
    width: 150px;
}

.book_note {
    font-family: 'Goldman', "Segoe UI", Sans-Serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 16px;
}

.book-now-container {
    display: none;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(to right, Orange, #ff7156, Orange);
    text-shadow: 0px -2px #edb143;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
}

#return-to-top:hover {
    background: linear-gradient(to right, Orange, #ff7156, Orange);
    text-shadow: 0px -2px #edb143;
    transform: translate3d(0, -10px, 0);
}

.social-btns .btn-social,
.social-btns .btn-social:before,
.social-btns .btn-social .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn-social:before {
    top: 90%;
    left: -110%;
}
.social-btns .btn-social .fa {
    transform: scale(0.8);
}
.social-btns .btn-social.facebook:before {
    background-color: #3b5998;
}
.social-btns .btn-social.facebook .fa {
    color: #3b5998;
}
.social-btns .btn-social.twitter:before {
    background-color: #3cf;
}
.social-btns .btn-social.twitter .fa {
    color: #3cf;
}
.social-btns .btn-social.google:before {
    background-color: #dc4a38;
}
.social-btns .btn-social.google .fa {
    color: #dc4a38;
}
.social-btns .btn-social.dribbble:before {
    background-color: #f26798;
}
.social-btns .btn-social.dribbble .fa {
    color: #f26798;
}
.social-btns .btn-social.skype:before {
    background-color: #00aff0;
}
.social-btns .btn-social.skype .fa {
    color: #00aff0;
}
.social-btns .btn-social:focus:before,
.social-btns .btn-social:hover:before {
    top: -10%;
    left: -10%;
}
.social-btns .btn-social:focus .fa,
.social-btns .btn-social:hover .fa {
    color: #fff;
    transform: scale(1);
}
.social-btns {
    height: 50px;
    margin: auto;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.social-btns .btn-social {
    display: inline-block;
    background-color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
}
.social-btns .btn-social:before {
    content: '';
    width: 120%;
    height: 120%;
    /*position: absolute;*/
    transform: rotate(45deg);
}
.social-btns .btn-social .fa {
    font-size: 38px;
    vertical-align: middle;
}
