@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pattaya&family=Goldman&family=Yanone+Kaffeesatz&display=swap');

#menu_list {
    background: #eee !important;
    padding-bottom: 160px;
}

.main-footer {
    font-family: 'Goldman', sans-serif;
}

.main-footer .footer-title {
    font-weight: 900;
    font-size: 16px;
    font-family: 'Goldman', sans-serif;
}

.main-footer .shop-list ul a {
    font-weight: 500;
    font-size: 14px;
    font-family: 'Goldman', sans-serif;
}

.main-footer p {
    font-family: 'Goldman', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}

.main-footer .recent-posts a {
    font-family: 'Goldman', sans-serif;
    font-weight: 400;
}

.subscribe-form span {
    font-family: 'Goldman', sans-serif;
    font-size: 18px;
    margin-top: 4px;
}

.social-bottom span {
    font-family: 'Goldman', sans-serif;
    font-size: 18px;
    margin-top: 4px;
}
.subscribe-form input#subscribe{
    width: auto!important;
    min-width: 180px;
}

