@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pattaya&family=Goldman&family=Yanone+Kaffeesatz&display=swap');

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hoa Dao';
    src: url('../fonts/uvnhoadao.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bay Buom';
    src: url('../fonts/uvnbaybuom.ttf');
    font-weight: bold;
    font-style: normal;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#menu_list {
    background: #eee !important;
    padding-bottom: 60px;
    padding-top: 30px;
}

#testimonails .flex-direction-nav .flex-next {
    display: none !important;
}

#testimonails .flex-direction-nav .flex-prev {
    display: none !important;
}

.testimonails-content {
    padding: 8px !important;
    margin: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#slider .flex-direction-nav .flex-next {
    display: none !important;
}

#slider .flex-direction-nav .flex-prev {
    display: none !important;
}

.main-footer {
    font-family: 'Goldman', sans-serif;
}

.main-footer .footer-title {
    font-weight: 900;
    font-size: 20px;
    font-family: 'Goldman', sans-serif;
}

.main-footer .shop-list ul a {
    font-weight: 500;
    font-size: 15px;
    font-family: 'Goldman', sans-serif;
}

.main-footer p {
    font-family: 'Goldman', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}

.main-footer .recent-posts a {
    font-family: 'Goldman', sans-serif;
    font-weight: 400;
}

.subscribe-form span {
    font-family: 'Goldman', sans-serif;
    font-size: 18px;
}

.social-bottom span {
    font-family: 'Goldman', sans-serif;
    font-size: 19px;
}

.subscribe-form input#subscribe {
    width: auto !important;
}

.search1 {
    min-width: 117px;
    margin-top: 20px;
}

.search1 > h3 {
    font-weight: normal;
}

.search1 > h1,
.search1 > h3 {
    color: #ed8830;
    margin-bottom: 15px;
    text-shadow: 0 1px #ed8830;
}

.search1 > div {
    display: inline-block;
    position: relative;
    margin-top: 0px !important;
    filter: drop-shadow(0 1px #ed8830);
}

.search1 > div:after {
    content: "";
    background: #ed8830;
    width: 4px;
    height: 12px;
    position: absolute;
    top: 21px;;
    right: -2px;
    transform: rotate(135deg);
}

.search1 > div > input {
    color: #ed8830;
    font-size: 12px;
    background: transparent;
    width: 22px;
    height: 22px;
    padding: 8px;
    border: solid 3px #ed8830;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.search1 > div > input::placeholder {
    color: #ed8830;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.search1 > div > input:focus::placeholder {
    opacity: 1;
}

.search1 > div > input:focus,
.search1 > div > input:not(:placeholder-shown) {
    height: 30px;
    width: 100px;
}

#latest-blog {
    z-index: 0 !important;
}


.hot_line {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hot_line_text {
    font-family: 'Goldman', "Segoe UI", Sans-Serif;
    color: #ed8830;
    font-size: 14px;
}

.hot_line_phone {
    font-family: 'Goldman', "Segoe UI", Sans-Serif;
    color: #ff2d25;
    font-weight: bold;
    font-size: 17px;
}

.book_note {
    font-family: 'Goldman', "Segoe UI", Sans-Serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 16px;
}

.logo_content {
    justify-items: center;
}

.logo_content a img {
    height: 70px;
}

.book-now-container {
    background: #eee !important;
    padding-top: 24px;
}

.book-now-btn-home .animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.book-now-btn-home .action-button {
    font-family: 'Goldman', "Segoe UI", Sans-Serif;
    position: relative;
    padding: 4px 40px;
    /*margin: 0px 10px 4px 0px;*/
    float: left;
    border-radius: 10px;
    font-size: 22px;
    color: #FFF;
    text-decoration: none;
}

.book-now-btn-home .red {
    background: linear-gradient(to right, Orange, #ff7156, Orange);
    text-shadow: 0px -2px #edb143;
    border-bottom: 2px solid #ed5913;
    box-shadow: 20px 5px 40px #99baf3, 0px 5px 40px #fcffb6, -20px 5px 40px #9686db;
    -moz-box-shadow: 20px 5px 40px #99baf3, 0px 5px 40px #fcffb6, -20px 5px 40px #9686db;
    -webkit-box-shadow: 20px 5px 40px #99baf3, 0px 5px 40px #fcffb6, -20px 5px 40px #9686db;
}

.book-now-btn-home .action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

#return-to-top {
    position: fixed;
    bottom: 85px;
    right: 30px;
    background: linear-gradient(to right, Orange, #ff7156, Orange);
    opacity: 0.3;
    text-shadow: 0px -2px #edb143;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999999999;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
}

#return-to-top:hover {
    background: linear-gradient(to right, Orange, #ff7156, Orange);
    opacity: 1;
    text-shadow: 0px -2px #edb143;
    transform: translate3d(0, -10px, 0);
}
