@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pattaya&family=Goldman&family=Yanone+Kaffeesatz&display=swap');
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#menu_list {
    background: #eee !important;
    padding-bottom: 60px;
    padding-top: 60px;
}
#testimonails .flex-direction-nav .flex-next {
    display: none !important;
}

#testimonails .flex-direction-nav .flex-prev {
    display: none !important;
}

.testimonails-content {
    padding: 8px !important;
    margin: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#slider .flex-direction-nav .flex-next {
    display: none !important;
}

#slider .flex-direction-nav .flex-prev {
    display: none !important;
}
.main-footer {
    font-family: 'Goldman', sans-serif;
}

.main-footer .footer-title {
    font-weight: 900;
    font-size: 20px;
    font-family: 'Goldman', sans-serif;
}

.main-footer .shop-list ul a {
    font-weight: 500;
    font-size: 15px;
    font-family: 'Goldman', sans-serif;
}

.main-footer p {
    font-family: 'Goldman', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}

.main-footer .recent-posts a {
    font-family: 'Goldman', sans-serif;
    font-weight: 400;
}

.subscribe-form span {
    font-family: 'Goldman', sans-serif;
    font-size: 18px;
}

.social-bottom span {
    font-family: 'Goldman', sans-serif;
    font-size: 20px;
}
.subscribe-form input#subscribe{
    width: auto!important;
}
.search {
    margin-bottom: 22px;
    min-width: 100px;
}

.search > h3 {
    font-weight: normal;
}

.search > h1,
.search > h3 {
    color: #ed8830;
    margin-bottom: 15px;
    text-shadow: 0 1px #ed8830;
}

.search > div {
    display: inline-block;
    position: relative;
    margin-top: 0px !important;
    filter: drop-shadow(0 1px #ed8830);
}

.search > div:after {
    content: "";
    background: #ed8830;
    width: 4px;
    height: 12px;
    position: absolute;
    top: 40px;
    right: -4px;
    transform: rotate(135deg);
}

.search > div > input {
    color: #ed8830;
    font-size: 12px;
    background: transparent;
    width: 22px;
    height: 22px;
    padding: 8px;
    border: solid 3px #ed8830;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.search > div > input::placeholder {
    color: #ed8830;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
    opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
    height: 30px;
    width: 100px;
}
.hot_line {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hot_line_text {
    font-family: 'Goldman', "Segoe UI", Sans-Serif;
    color: #ed8830;
    font-size: 13px;
}

.hot_line_phone {
    font-family: 'Goldman', "Segoe UI", Sans-Serif;
    color: #ff2d25;
    font-weight: bold;
    font-size: 16px;
}

.book_note {
    font-family: 'Goldman', "Segoe UI", Sans-Serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 16px;
}
